<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ca.zacharyseguin.DateCountdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Date_Countdown.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <ca.zacharyseguin.DateCountdown.Properties.Settings>
            <setting name="CountdownTitle" serializeAs="String">
                <value>Countdown Title</value>
            </setting>
            <setting name="CountdownDate" serializeAs="String">
                <value>2014-02-07</value>
            </setting>
            <setting name="WindowLocationX" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowLocationY" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="WindowBackgroundColour" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="WindowForegroundColour" serializeAs="String">
                <value>Black</value>
            </setting>
        </ca.zacharyseguin.DateCountdown.Properties.Settings>
    </userSettings>
</configuration>
